.gradle/
.gradle-user/
build/
run/
out/
bin/
.minecraft/
*.log

/.idea/
/.vscode/
/*.iml
/.classpath
/.project
/.settings/
/.eclipse/

ref/Create/build/
ref/Create/run/
ref/
src/generated/resources/.cache/
